/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	/*HEADER START*/
	.menu ul li a {
    padding: 0 0px !important;
    text-align: right;
}
	/*HEADER END*/
	/*slider start*/
	.slider {
    padding-bottom: 65px;
}
	.slider_content h1 {
    font-size: 25px;
}
	.slider_content h2 {
    margin: 15px 0;

}
	.slider_content p {
    margin-bottom: 20px;
}
.slider_icon li i {
    margin-right: 10px;
    font-size: 30px;
}
	.c_indicator {
    bottom: -50px;
}
	.c_indicator li {
	    width: 10px;
	    height: 10px;
	    border-radius: 50%;
}
	.slider_img img {
    display: none;
}

	/*slider end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/*HEADER START*/
	.menu ul li a {
    padding: 0 0px !important;
    text-align: right;
}
	/*HEADER END*/
	/*SLIDER START*/
	.slider_content {
    margin-top: 40px;
}
	.slider_img img {
    display: none;
}
	/*SLIDER END*/


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*HEADER START*/
	.menu ul li a {
    padding: 0 0px !important;
    text-align: right;
}
	/*HEADER END*/
	/*SLIDER START*/
	.slider_content {
    margin-top: 35px;
}
	/*SLIDER END*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	/*SLIDER START*/
	.slider_img img {
    margin-left: 30px;
}
	/*SLIDER END*/
	
}